#home-area {
    background-color: #e5fff3;
}

#home-header {
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: normal;
  font-size: 2rem;
}

#home-separator {
  display: flex;
}

#home-content {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#food-img {
  width: 50%;
  object-fit: cover;
}

footer {
    padding: 2px;
    margin: auto;
    text-align: center;
}

h2 {
  font-size: 2rem;
  width: 50%;
  margin: 0;
  font-weight: lighter;
}