#nav-bar-design {
  background-color: aqua;
  flex: auto;
  padding: 10px;
}

/* Social Feed Community */

.content-container {
  display: flex;
  box-sizing: border-box;
  padding: 40px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(66, 66, 66);
}
#post-list {
  background-color: rgb(150, 150, 150);
  margin: 20px;
  padding: 20px;
  width: 45vw;
  height: 600px;
}

#content-view {
  background-color: rgb(150, 150, 150);
  margin: 20px;
  padding: 20px;
  width: 45vw;
  height: 600px;
}
